<!--関連記事用-->
<% if post.any? %>
  <% post.each do |post| %>
  <div class="col rounded bg-light my-3 p-2">
    <h4><%= link_to post.relation_post.main_code, post_path(post) %></h4>
    <p><%= post.relation_post.title %></p>
    <p>
      <%= image_tag post.relation_post.user.get_image, size: "50x50" %>
      <%= post.relation_post.user.account_name %>
      <%= post.relation_post.created_at.strftime('%Y/%m/%d') %>
      <%= render '/users/favorites/form', post: post %>
    </p>
    <span class="rounded bg-secondary text-white px-1">
      <%= post.relation_post.genre.genre_name %>
    </span>
  </div>
  <% end %>
<% else %>
  <p>該当する記事はありません。</p>
<% end %>