<!--記事の詳細閲覧-->
<div class="container-fluid">
  <div class="row m-5 p-5">
    <div class="col-2"></div>
    <div class="col-7">
      <div class="rounded bg-white mx-auto p-5">
        <%= flash[:notice] %>
        <!--記事-->
        <div>
          <!--記事編集-->
          <% if @post.user == current_user %>
            <div class="text-right">
              <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
              <%= link_to "削除する", post_path(@post), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
            </div>
          <% end %>
        </div>
        <div>
          <h3><%= @post.title %></h3>
        </div>
        <div>
          <h5><%= @post.main_code %></h5>
        </div>
        <div>
          <% @post.genres.each do |genre| %>
            <span class="rounded bg-secondary text-white mx-1 px-1">
              <%= genre.genre_name %>
            </span>
          <% end %>
        </div>
        <div>
          <%= image_tag @post.user.get_image, size: "50x50" %>
          <%= @post.user.account_name %>
          <%= @post.created_at.strftime('%Y/%m/%d') %>
          <div>
            <!--お気に入り-->
            <%= render '/users/favorites/form', post: @post %>
          </div>
        </div>
        <div>
          <div>
            <h3>実行環境</h3>
            <%= @post.version %>
          </div>
          <div>
            <% @post.contents.each do |content| %>
              <h3><%= content.table_of_content %></h3>
            <% end %>
          </div>
          <div>
            <% @post.main_texts.each do |main_text| %>
              <%= main_text.body %>
            <% end %>
          </div>
          <div class="flex-column rounded bg-dark text-white">
            <% @post.post_codes.each do |post_code| %>
              <div class="px-2">
                <span class="rounded-bottom bg-info text-white px-2">
                  <%= post_code.position %>
                </span>
                <div><%= post_code.code %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="rounded bg-white my-5 p-5">
        <!--コメント-->
        <%= render '/users/comments/form', post: @post %>
      </div>
    </div>
    <div class="col-3">
      <div class="rounded bg-white p-5">
        <!--同じコードの関連記事-->
        <h3>関連記事</h3>
        <%#= render '/users/posts/info_relation', post: @same_posts %>
      </div>
      <div class="rounded bg-white my-5 p-5">
        <!--違う言語の関連記事-->
        <h3>別言語の関連記事</h3>
        <%#= render '/users/posts/info_relation', post: @other_posts %>
      </div>
    </div>
  </div>
</div>