<!--記事の詳細閲覧-->
<div class="container-fluid">
  <div class="row flex-column m-5 p-5">
    <div class="col-8 rounded bg-white mx-auto p-5">
      <div>
        <!--記事-->
        <div>
          <h3><%= @post.title %></h3>
        </div>
        <div>
          <h5><%= @post.main_code %></h5>
        </div>
        <div>
          <% @post.genres.each do |genre| %>
            <%= t(".genre_name", default: genre.genre_name_i18n) %>
            <%= genre.version %>
          <% end %>
        </div>
        <div>
          <%= @post.created_at.strftime('%Y/%m/%d') %>
          <div>
            <!--お気に入り-->
            <%= render '/users/favorites/form', post: @post %>
          </div>
          <div>
            <!--記事編集-->
            <% if @post.user == current_user %>
              <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
              <%= link_to "削除する", post_path(@post), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </div>
        </div>
        <div>
          <div>
            <% @post.contents.each do |content| %>
              <%= content.table_of_content %>
            <% end %>
          </div>
          <div>
            <% @post.main_texts.each do |main_text| %>
              <%= main_text.body %>
            <% end %>
          </div>
          <div class="flex-column bg-dark text-white">
            <%= @post.post_codes.each do |post_code| %>
              <div>
                <p class="rounded-bottom bg-info text-white">
                  <%= post_code.position %>
                </p>
              </div>
              <div><%= post_code.code %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <!--同じコードの関連記事-->
        <%# @posts.each do |post| %>
          <%#= link_to post.main_code, posts_show_path(post) %>
          <%#= post.title %>
        <%# end %>
      </div>
      <div>
        <!--違う言語の関連記事-->
      </div>
      <div>
        <!--コメント-->
        <%= render '/users/comments/form', post: @post %>
      </div>
    </div>
  </div>
</div>