<!--ホーム画面-->
<div class="container-fluid">
  <div class="row m-5" >
    <div class="col-3 rounded bg-white p-5">
      <!--会員情報詳細閲覧-->
      <h2>ホーム</h2>
      <%= render 'info', user: @user %>
    </div>
    <div class="col mx-5">
      <div class="rounded bg-white p-5">
        <h2>あなたがお気に入りに登録した記事</h2>
        <% if @favorites.any? %>
          <% @favorites.each do |favorite| %>
            <%- post = favorite.post %>
            <!--一覧テンプレート-->
            <%= render '/users/posts/info', post: post %>
          <% end %>
          <div class="text-center">
            <%= paginate @favorites %>
          </div>
        <% else %>
          <div>
            <p>お気に入りに登録した記事はありません。</p>
          </div>
        <% end %>
      </div>
      <div class="rounded bg-white my-5 p-5">
        <h2>あなたが投稿した記事</h2>
        <div class="text-right">
          <%= link_to "投稿する", new_post_path, class: "btn btn-success" %>
        </div>
        <% if @user_posts.any? %>
          <% @user_posts.each do |post| %>
            <div class="rounded bg-light my-3 p-2">
              <h4><%= link_to post.main_code, post_path(post) %></h4>
              <p><%= post.title %></p>
              <div>
                <% post.genres.each do |genre| %>
                  <span class="rounded bg-secondary text-white mx-1 px-1">
                    <%= genre.genre_name %>
                  </span>
                <% end %>
              </div>
              <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
              <div class="text-right">
                <%= link_to "編集する", edit_post_path(post), class: "btn btn-success" %>
                <%= link_to "削除する", post_path(post), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
              </div>
            </div>
          <% end %>
          <div class="text-center">
            <%= paginate @user_posts %>
          </div>
        <% else %>
          <div>
            <p>あなたが投稿した記事はありません。</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>