<!--コード記入用-->
<%= f.fields_for :post_code do |post_code| %>
  <div class="form-group">
    <%= post_code.label :position, "記入場所" %>
    <%= post_code.text_area :position, class: 'form-control body', placeholder:"そのコードを記入する場所を具体的に記入してください。（例：ターミナル・users_controller.rbなど）" %>
  </div>
  <div class="form-group">
    <%= post_code.label :code, "コード" %>
    <%= post_code.text_field :code, class: 'form-control code', placeholder:"使用例を記入してください。" %>
  </div>
<% end %>