<div class="container-fluid">
  <div class="bg-white">
    <div>
      <h3>管理者用　ログイン</h3>
      <div>
        <%= form_with model:@admin, url: new_admin_session_path, local: true do |f| %>
          <table>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td>
                <div class="field mx-5">
                  <%= f.email_field :email, autofocus: true, class: "email", placeholder:"sample@example.com", size: 60 %>
                </div>
              </td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード" %></td>
              <td>
                <div class="field mx-5">
                  <%= f.password_field :password, autocomplete: "current-password", size: 60 %>
                </div>
              </td>
            </tr>
          </table>
          <div class="text-center mt-3">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>