<!--お気に入り登録用-->
<% if post.user == current_user %>
  <!--自分の投稿した記事の時-->
  <p>
    <i class="fa-regular fa-heart"></i>
    <%= post.favorites.count %>
  </p>
<% elsif current_user.nil? %>
  <!--ログインていない人-->
  <p>
    <i class="fa-regular fa-heart"></i>
    <%= post.favorites.count %>
  </p>
<% elsif post.favorited_by?(current_user) %>
  <!--ログインしてる人がお気に入り登録した記事を見たとき-->
  <p>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      <i class="fa-solid fa-heart"></i>
      <%= post.favorites.count %>
    <% end %>
  </p>
<% else %>
  <!--ログインしてる人がまだお気に入り登録していない記事を見たとき-->
  <p>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      <i class="fa-regular fa-heart"></i>
      <%= post.favorites.count %>
    <% end %>
  </p>
<% end %>
