<!--管理者用会員情報詳細閲覧-->
<div class="container-fluid">
  <div class="row my-5 p-5">
    <div class="col-3 rounded bg-white p-5">
      <h2>会員情報</h2>
      <!--会員情報詳細閲覧-->
      <%= render 'info', user: @user %>
    </div>
    <div class="col rounded bg-white mx-5 p-5">
      <h2>投稿したコメント</h2>
      <% if @user_comments %>
        <% @user_comments.each do |comment| %>
          <div class="rounded bg-light my-3 p-2">
            <h4><%= link_to comment.comment_body, admins_comments_show_path(comment) %></h4>
            <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
            <div class="text-right">
              <%= link_to "削除する", admins_comments_destroy_path(comment), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div>
          <p>投稿した記事はありません。</p>
        </div>
      <% end %>
    </div>
    <div class="col rounded bg-white mx-5 p-5">
      <h2>投稿した記事</h2>
      <% if @user_posts %>
        <% @user_posts.each do |post| %>
          <div class="rounded bg-light my-3 p-2">
            <h4><%= link_to post.main_code, admins_posts_show_path(post) %></h4>
            <p><%= post.title %></p>
            <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
            <div class="text-right">
              <%= link_to "削除する", post_path(post), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div>
          <p>投稿した記事はありません。</p>
        </div>
      <% end %>
    </div>
  </div>
</div>