<!--管理者用model:MainTextの検索結果一覧用-->
<% if main_text.any? %>
  <% main_text.each do |main_text| %>
  <div class="col rounded bg-light my-3 p-2">
    <h4><%= link_to main_text.post.main_code, admins_post_path(main_text.post) %></h4>
    <p><%= main_text.post.title %></p>
    <p>
      <%= image_tag main_text.post.user.get_image, size: "50x50" %>
      <%= main_text.post.user.account_name %>
      <%= main_text.post.created_at.strftime('%Y/%m/%d') %>
    </p>
  </div>
  <% end %>
<% else %>
  <p>該当する記事はありません。</p>
<% end %>