<!--管理者用記事の詳細閲覧-->
<div class="container-fluid">
  <div class="row flex-column m-5 p-5">
    <div class="col-8 mx-auto p-5">
      <div class="rounded bg-white mx-auto p-5">
        <!--記事-->
        <div class="text-right">
          <%= link_to "削除する", admins_post_path(@post), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
        </div>
        <div>
          <h3><%= @post.title %></h3>
        </div>
        <div>
          <h5><%= @post.main_code %></h5>
        </div>
        <div>
          <% @post.genres.each do |genre| %>
            <span class="rounded bg-secondary text-white mx-1 px-1">
              <%= genre.genre_name %>
            </span>
          <% end %>
        </div>
        <div>
          <%= image_tag @post.user.get_image, size: "50x50" %>
          <%= @post.user.account_name %>
          <%= @post.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div>
          <div>
            <h3 style="background: linear-gradient(transparent 85%, #DFDFDF 0%);">実行環境</h3>
              <%= @post.version %>
          </div>
          <div>
            <% @post.contents.each do |content| %>
              <h3 style="background: linear-gradient(transparent 85%, #DFDFDF 0%);"><%= content.table_of_content %></h3>
            <% end %>
          </div>
          <div>
            <% @post.main_texts.each do |main_text| %>
              <%= main_text.body %>
            <% end %>
          </div>
          <div class="flex-column rounded bg-dark text-white">
            <% @post.post_codes.each do |post_code| %>
              <div class="px-2">
                <span class="rounded-bottom bg-info text-white px-2">
                  <%= post_code.position %>
                </span>
              </div>
              <div><%= post_code.code %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="rounded bg-white my-5 p-5">
        <!--記事コメント閲覧-->
        <%= render '/admins/comments/info', post: @post %>
      </div>
    </div>
  </div>
</div>