<!--管理者用ログイン画面-->
<div class="container-fluid">
  <div class="row flex-column m-5 p-5">
    <div class="col-8 bg-white mx-auto p-5">
      <h3>管理者用　ログイン</h3>
      <div class="center-block mx-auto py-5">
        <%= form_with model:@admin, url: new_admin_session_path, local: true do |f| %>
          <div class="mx-5">
            <table>
              <tr>
                <td><%= f.label :email, "メールアドレス" %></td>
                <td>
                  <div class="field mx-5">
                    <%= f.email_field :email, autofocus: true, class: "email", placeholder:"sample@example.com", size: 70 %>
                  </div>
                </td>
              </tr>
              <tr>
                <td><%= f.label :password, "パスワード" %></td>
                <td>
                  <div class="field mx-5">
                    <%= f.password_field :password, autocomplete: "current-password", size: 70 %>
                  </div>
                </td>
              </tr>
            </table>
            <div class="text-center mt-3 pt-5">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>