<!--言語一覧選択用-->
<%= form_with model:@genre,local:true do |f| %>
  <div class="form-group">
    <p>言語</p>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(0) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:javascript] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(1) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:java] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(2) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:php] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(3) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:c] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(4) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:c_plus] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(5) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:c_sharp] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(6) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:typescript] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(7) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:shell] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(8) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:ruby] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(9) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:python] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(10) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:go] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(11) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:kotlin] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(12) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:html] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(13) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:css] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(14) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:sql] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(15) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:swift] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(16) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:visual_basic] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(17) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:ruby_on_rails] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(18) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:sinatra] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(19) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:padrino] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(20) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:angularjs] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(21) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:vue_js] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(22) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:ember_js] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(23) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:spring_framework] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(24) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:javaserver_faces] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(25) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:play_framework] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(26) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:cakephp] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(27) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:laravel] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(28) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:fuelphp] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(29) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:django] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(30) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:flask] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(31) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:bootstrap] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(32) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:foundation] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(33) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:uikit] %>
    &emsp;<%= f.radio_button :genre_name, Genre.genre_names.key(34) %>
          <%= f.label :genre_name, Genre.genre_names_i18n[:react] %>
  </div>

  <div class="form-group">
    <%= f.label :version, "バージョン" %>
    <%= f.text_area :version, class: 'form-control version', placeholder:"バージョンを記入してください。" %>
  </div>
<% end %>