<!--言語一覧選択用-->
<%#= f.fields_for :genre do |g| %>
  <% if @post.new_record? %>
    <!--記事投稿-->
    <div class="form-group">
      <p>言語</p>
      <div>
        <p>
          <%= f.collection_check_boxes(:genre_ids, @genres, :id, :genre_name) do |genre| %>
            <%= genre.label do %>
              <%= genre.check_box %>
              <%= genre.text %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% else %>
    <!--記事編集-->
    <div class="form-group">
      <p>言語</p>
      <div>
        <p>
          <%= f.collection_check_boxes(:genre_ids, @genres, :id, :genre_name) do |genre| %>
            <%= genre.label do %>
              <%= genre.check_box %>
              <%= genre.text %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
<%# end %>