<!--言語一覧選択用-->
<%= f.fields_for :genre do |genre| %>
  <% if @post.new_record? %>
    <!--記事投稿-->
    <div class="form-group">
      <p>言語</p>
      <%= genre.collection_radio_buttons(:genre_name, Genre.genre_names_i18n, :first , :last) %>
    </div>
    <div class="form-group">
      <%= genre.label :version, "バージョン" %>
      <%= genre.text_area :version, class: 'form-control version', placeholder:"バージョンを記入してください。" %>
    </div>
  <% else %>
    <!--記事編集-->
    <div class="form-group">
      <p>言語</p>
      <%= genre.collection_radio_buttons(:genre_name, Genre.genre_names_i18n, :first , :last, {checked: @genre.first.genre_name}) %>
    </div>
    <div class="form-group">
      <%= genre.label :version, "バージョン" %>
      <%= genre.text_area :version, value: @genre.first.version, class: 'form-control version', placeholder:"バージョンを記入してください。" %>
    </div>
  <% end %>
<% end %>