<!--言語毎のコード一覧-->
<div class="container-fluid">
  <div class="row flex-column m-5 p-5">
    <div class="col-8 rounded bg-white mx-auto p-5">
      <h2><%= @genre.genre_name_i18n %></h2>
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <div class="rounded bg-light my-3 p-2">
            <h4><%= link_to post.main_code, posts_show_path(post) %></h4>
            <p><%= post.title %></p>
            <p>
              <%= image_tag post.user.get_image, size: "30x30" %>
              <%= post.user.account_name %>
              <%= post.created_at.strftime('%Y/%m/%d') %>
              <%= render '/users/favorites/form', post: post %>
            </p>
          </div>
        <% end %>
      <% else %>
        <p>該当する記事はありません。</p>
      <% end %>
    </div>
  </div>
</div>