<!--管理者用Top画面-->
<div class="container-fluid">
  <%= flash[:notice] %>
  <div class="row">
    <div class="col-1 rounded bg-white my-5 ml-5 py-5">
      <!--言語一覧-->
      <%= render '/admins/genres/info' %>
    </div>
    <div class="col rounded bg-white m-5 p-5">
      <h3>新着記事</h3>
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <div class="rounded bg-light my-3 p-2">
            <h5><%= link_to post.main_code, admins_post_path(post) %></h5>
            <p><%= post.title %></p>
            <p>
              <%= image_tag post.user.get_image, size: "30x30" %>
              <%= post.user.account_name %>
            </p>
          </div>
        <% end %>
      <% else %>
        <p>最近投稿された記事はありません。</p>
      <% end %>
    </div>
    <div class="col rounded bg-white my-5 p-5">
      <h3>新着コメント一覧</h3>
      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <div class="rounded bg-light my-3 p-2">
            <h5><%= link_to comment.comment_body, admins_post_comment_path(comment.post, comment) %></h5>
            <p>
              <%= image_tag comment.user.get_image, size: "30x30" %>
              <%= comment.user.account_name %>
            </p>
            <p><%= comment.post.title %></p>
              <%= link_to "削除", admins_post_comment_path(comment.post, comment), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
          </div>
        <% end %>
      <% else %>
        <p>現在、コメントはありません。</p>
      <% end %>
    </div>
    <div class="col-2 rounded bg-white m-5 p-5">
      <h3>会員一覧</h3>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <div class="rounded bg-light my-3 p-2">
            <%= image_tag user.get_image, size: "30x30" %>
            <%= link_to user.account_name, admins_user_path(user) %>
          </div>
        <% end %>
      <% else %>
        <p>現在、登録された会員はいません。</p>
      <% end %>
    </div>
  </div>
</div>