<!--管理者用Top画面-->
<div class="container-fluid">
  <div class="row flex-column m-5 p-5">
    <div class="col-1 rounded bg-white m-5 py-5">
      <!--言語一覧-->
      <%= render '/admins/genres/info' %>
    </div>
    <div class="col rounded bg-white my-5 p-5">
      <h3>新着記事</h3>
      <% if @posts %>
        <% @posts.each do |post| %>
        <table>
          <tr>
            <h5><%= link_to post.main_code, admins_posts_show_path(post) %></h5>
            <p><%= post.title %></p>
          </tr>
        </table>
        <% end %>
      <% else %>
        <p>最近投稿された記事はありません。</p>
      <% end %>
    </div>
    <div class="col rounded bg-white m-5 p-5">
      <h3>コメント一覧</h3>
      <% if @comments %>
        <% @comments.each do |comment| %>
        <table>
          <tr>
            <h5><%= link_to comment.comment_body, admins_comments_show_path(comment) %></h5>
            <p><%= link_to "削除", admins_comments_destroy_path, data: {confirm: "本当に削除しますか？"} %></p>
          </tr>
        </table>
        <% end %>
      <% else %>
        <p>現在、コメントはありません。</p>
      <% end %>
    </div>
    <div class="col-2 rounded bg-white my-5 mr-5 p-5">
      <h3>会員一覧</h3>
      <% if @users %>
        <% @users.each do |user| %>
          <table>
            <tr>
              <td><%= link_to user.account_name, admins_users_show_path(user) %></td>
            </tr>
          </table>
        <% end %>
      <% else %>
        <p>現在、登録された会員はいません。</p>
      <% end %>
    </div>
  </div>
</div>