<div class="container-fluid">
  <div>
    <% @comments %>
      <% @comments.each do |comment| %>
        <%= link_to comment.comment_body, admins_comments_show_path %>
        <%= link_to "削除", admins_comments_destroy_path %>
      <% end %>
    <% else %>
      <p>現在、コメントはありません</p>
    <% end %>
  </div>
  <div>
    <% @users %>
      <% @users.each do |user| %>
        <%= link_to user.name, admins_users_show_path %>
      <% end %>
    <% else %>
      <p>現在、登録された会員はいません</p>
    <% end %>
  </div>

  <div>
    <% @posts %>
      <% @posts.each do |post| %>
        <%= link_to post.main_code, admins_posts_show_path %>
        <%= post.title %>
      <% end %>
    <% else %>
      <p>最近投稿された記事はありません</p>
    <% end %>
  </div>

  <div>
    <% @genres.each do |genre| %>
      <%= link_to genre.name, admins_genres_index_path %>
    <% end %>
  </div>
</div>