<!DOCTYPE html>
<html>
  <head>
    <title>はじめてのプログラム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark justify-content-between" style="background-color: #8a2be2;">
      <div class="container-fluid">
        <a class="navbar-brand" href=<%= root_path %>>はじめてのプログラム</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: blue;"></span>
        </button>
        <div class="text-right">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if admin_signed_in? %>
                <h2 class="text-white">管理者用</h2>
                <li class="nav-item text-right">
                  <%= link_to "Topへ", admins_root_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-right">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>
                <li><%= render '/admins/searches/form' %></li>

              <% elsif user_signed_in? %>
                <li class="nav-item text-right">
                  <%= link_to "ホームへ", home_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-right">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
                <li><%= render '/users/searches/form' %></li>

              <% else %>
                <li class="nav-item text-right">
                  <%= link_to "新規会員登録", new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-right">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                </li>
                <li><%= render '/users/searches/form' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </header>

  <body style="background-color: #ccccdd;">
    <%= yield %>
  </body>
</html>
