<!DOCTYPE html>
<html>
  <head>
    <title>はじめてのプログラム</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7d381659ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="style.css" />-->
  </head>

  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark justify-content-between" style="background-color: #8a2be2;">
      <div class="container-fluid">
        <a class="navbar-brand" href=<%= root_path %>>はじめてのプログラム</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: blue;"></span>
        </button>
        <div class="text-right">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if admin_signed_in? %>
                <!--管理者用-->
                <h2 class="text-white">管理者用</h2>
                <li class="nav-item text-right">
                  <%= link_to "Topへ", admins_root_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-right">
                  <!--ログアウト-->
                  <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                    <i class="fa-solid fa-right-from-bracket">ログアウト</i>
                  <% end %>
                </li>
                <li><%= render '/admins/searches/form' %></li>

              <% elsif user_signed_in? %>
                <!--会員用-->
                <li class="nav-item text-right">
                  <!--ホーム-->
                  <%= link_to home_path, class: "nav-link" do %>
                    <i class="fa-solid fa-house">ホーム</i>
                  <% end %>
                </li>
                <li class="dropdown">
                  <!--通知-->
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-regular fa-bell">通知</i>
                    <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% if current_user.notifications.where(read: false).any? %>
                      <small class="dropdown-item disabled">直近5件の未読の通知を表示しています。</small>
                      <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                        <%= link_to notification.message, notification.notifiable_path, method: :patch, class: "dropdown-item" %>
                      <% end %>
                    <% else %>
                      <span class="dropdown-item disabled">未読の通知はありません。</span>
                    <% end %>
                  </div>
                </li>
                <li class="nav-item text-right">
                  <!--ログアウト-->
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                    <i class="fa-solid fa-right-from-bracket">ログアウト</i>
                  <% end %>
                </li>
                <li><%= render '/users/searches/form' %></li>

              <% else %>
                <li class="nav-item text-right">
                  <!--新規登録-->
                  <%= link_to new_user_registration_path, class: "nav-link" do %>
                    <i class="fa-solid fa-user-plus">新規登録</i>
                  <% end %>
                </li>
                <li class="nav-item text-right">
                  <!--ログイン-->
                  <%= link_to new_user_session_path, class: "nav-link" do %>
                    <i class="fa-solid fa-right-to-bracket">ログイン</i>
                  <% end %>
                </li>
                <li>
                  <%= render '/users/searches/form' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </header>

  <body style="background-color: #ccccdd;">
    <%= yield %>
  </body>
</html>
