<!--新規登録画面-->
<div class="container-fluid">
  <div class="row flex-column m-5 p-5">
    <div class="col-8 bg-white mx-auto p-5">
      <h3>新規会員登録</h3>
      <div class="py-5 px-5">
        <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
          <table class="teble">
            <tr>
              <td><%= f.label :account_name, "アカウント名" %></td>
              <td>
                <div class="field mx-5">
                  <%= f.text_field :account_name, autofocus: true, class: "account_name", size: 70, placeholder:"はじプロ" %>
                </div>
              </td>
            </tr>
            <tr>
              <td><%= f.label :birthdate, "生年月日" %></td>
              <td>
                <div class="field mx-5">
                  <%= f.text_field :birthdate, autofocus: true, class: "birthdate", size: 70, placeholder:"2001年1月1日→20010101" %>
                </div>
              </td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td>
                <div class="field mx-5">
                  <%= f.email_field :email, autofocus: true, class: "email", size: 70, placeholder:"sample@example.com" %>
                </div>
              </td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード(6文字以上)" %></td>
              <td>
                <div class="field mx-5">
                  <%= f.password_field :password, autocomplete: "new-password", size: 70 %>
                </div>
              </td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
              <td>
                <div class="field mx-5">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 70 %>
                </div>
              </td>
            </tr>
          </table>
          <div class="actions text-center mt-3">
            <%= f.submit "新規登録", class: "btn btn-success text-white" %>
          </div>
        <% end %>
      </div>
      <div class="row mx-auto pt-5">
        <h5>既に登録済みの方</h5>
        <div class="mx-5 my-5">
          <p><%= link_to "こちら", new_user_session_path %>からログインしてください。</p>
        </div>
      </div>
    </div>
  </div>
</div>